<app-menu></app-menu>

<div class="ui-fluid ui-g-12 alineacion-centro">
  <div class="ui-g-12">
    <div class="ui-g-12 ui-sm-12">
      <h1>{{empresa.razonSocial}}</h1>
    </div>
    <div class="ui-g-12 ui-sm-12">
      <h1>{{empresa.ruc}}</h1>
    </div>
    <div class="ui-g-12 ui-sm-12">
      <label><strong>{{properties.lbl_direccion}}: </strong>{{empresa.direccion}}</label>
    </div>
    <div class="ui-g-12 ui-sm-12">
      <label><strong>{{properties.lbl_telefono}}: </strong>{{empresa.telefono}}</label>
    </div>
  </div>
</div>
