<app-menu></app-menu>
<app-notificacion></app-notificacion>
<form class="horizontal-center alineacion-izquierda expandir" [formGroup]="form">
  <p-panel >
    <p-header>
      {{properties.lbl_cliente}}
    </p-header>
    <div class="ui-fluid ui-g">
      <div class="ui-g-12">
        <div class="ui-g-6 ui-sm-12">
          <div class="ui-g-3 ui-sm-12">
            <label for="tipoDocumento" class="control-label required">{{properties.lbl_tipo_documento}}</label>
          </div>
          <div class="ui-g-8 ui-sm-12 form-group" [ngClass]="displayFieldCss('tipoDocumento')">
            <p-dropdown id="tipoDocumento" class="form-control" formControlName="tipoDocumento" [options]="tipoIdentificacionesSelect" [(ngModel)]="tipoIdentificacion"></p-dropdown>
          </div>
          <app-error-campo
            [displayError]="isFieldValid('tipoDocumento')"
            errorMsg="{{properties.error_campo_requerido}}">
          </app-error-campo>
        </div>

        <div class="ui-g-6 ui-sm-12">
          <div class="ui-g-3 ui-sm-12">
            <label for="numeroDocumento" class="control-label required">{{properties.lbl_numero_documento}}</label>
          </div>
          <div class="ui-g-8 ui-sm-12 form-group" [ngClass]="displayFieldCss('numeroDocumento')">
            <input type="number" id="numeroDocumento" class="form-control" formControlName="numeroDocumento" [(ngModel)]="identificacion.numero">
            <app-error-campo
              [displayError]="isFieldValid('numeroDocumento')"
              errorMsg="{{properties.error_campo_requerido}}">
            </app-error-campo>
          </div>
        </div>

        <div class="ui-g-6 ui-sm-12">
          <div class="ui-g-3 ui-sm-12">
            <label for="nombre" class="control-label required">{{properties.lbl_nombre}}</label>
          </div>
          <div class="ui-g-8 ui-sm-12 form-group" [ngClass]="displayFieldCss('nombre')">
            <input type="text" id="nombre" class="form-control"  formControlName="nombre" [(ngModel)]="cliente.nombre">
            <app-error-campo
              [displayError]="isFieldValid('nombre')"
              errorMsg="{{properties.error_campo_requerido}}">
            </app-error-campo>
          </div>
        </div>

        <div class="ui-g-6 ui-sm-12">
          <div class="ui-g-3 ui-sm-12">
            <label for="apellido" class="control-label required">{{properties.lbl_apellido}}</label>
          </div>
          <div class="ui-g-8 ui-sm-12 form-group" [ngClass]="displayFieldCss('apellido')">
            <input type="text" id="apellido" class="form-control"  formControlName="apellido" [(ngModel)]="cliente.apellido">
            <app-error-campo
              [displayError]="isFieldValid('apellido')"
              errorMsg="{{properties.error_campo_requerido}}">
            </app-error-campo>
          </div>
        </div>

        <div class="ui-g-6 ui-sm-12">
          <div class="ui-g-3 ui-sm-12">
            <label for="email" class="control-label required">{{properties.lbl_email}}</label>
          </div>
          <div class="ui-g-8 ui-sm-12 form-group" [ngClass]="displayFieldCss('email')">
            <input type="email" id="email" class="form-control" formControlName="email" [(ngModel)]="cliente.email">
            <app-error-campo
              [displayError]="isFieldValid('email')"
              errorMsg="{{properties.error_campo_requerido}}">
            </app-error-campo>
          </div>
        </div>

        <div class="ui-g-6 ui-sm-12">
          <div class="ui-g-3 ui-sm-12">
            <label for="telefono" class="control-label required">{{properties.lbl_telefono}}</label>
          </div>
          <div class="ui-g-8 ui-sm-12 form-group" [ngClass]="displayFieldCss('telefono')">
            <input type="number" id="telefono" class="form-control" formControlName="telefono" [(ngModel)]="cliente.telefono">
            <app-error-campo
              [displayError]="isFieldValid('telefono')"
              errorMsg="{{properties.error_campo_requerido}}">
            </app-error-campo>
          </div>
        </div>

        <div class="ui-g-6 ui-sm-12">
          <div class="ui-g-3 ui-sm-12">
            <label for="direccion" class="control-label required">{{properties.lbl_direccion}}</label>
          </div>
          <div class="ui-g-8 ui-sm-12 form-group" [ngClass]="displayFieldCss('direccion')">
            <input type="text" id="direccion" class="form-control"  formControlName="direccion" [(ngModel)]="cliente.direccion">
            <app-error-campo
              [displayError]="isFieldValid('direccion')"
              errorMsg="{{properties.error_campo_requerido}}">
            </app-error-campo>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix alineacion-centro">
        <button pButton type="button" label="{{properties.btn_guardar_continuar}}" class="ui-button-success" (click)="guardar()"></button>
        <button pButton type="button" label="{{properties.btn_cancelar}}" class="ui-button-secondary" (click)="cancelar()"></button>
      </div>
    </p-footer>
  </p-panel>
</form>
